In [5]:
#import dependecies, establish connection string to database 
import pandas as pd
from sqlalchemy import create_engine
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/group-10-final"

In [2]:
cleaned_sector_emi2 = pd.read_csv("cleaned_sector_emi_df copy.csv",index_col=[0])

In [6]:
# activate engine
engine = create_engine(db_string)

In [4]:
cleaned_sector_emi2.to_sql(name='cleaned_sector_emi', con=engine)

ValueError: Table 'cleaned_sector_emi' already exists.

In [ ]:
country_definition = pd.read_csv("country_definition.csv",index_col=[0])

In [ ]:
country_def.to_sql(name='country_def', con=engine)

In [ ]:
country_definition_cleaned.index.values

In [ ]:
country_definition_cleaned = country_definition.drop(labels = ['In the manuscript, the discussion is often based on main economies which allows the EU28 to be considered as a single entity.','The EU28 comprises: Austria, Italy, Belgium, Latvia, Bulgaria, Lithuania, Croatia, Luxembourg, Cyprus,  Malta, Czechia, The Netherlands, Denmark, Poland, Estonia, Portugal,Finland, Romania, France, Slovakia, Germany,Slovenia,Greece, Spain,Hungary,Sweden, Ireland and United Kingdom.'])

In [ ]:
country_def = country_definition_cleaned.drop(columns = ['Unnamed: 4','Unnamed: 5'])

In [ ]:
GHG_food_sys_emi = pd.read_csv("GHG_food_sys_emi.csv")

In [ ]:
GHG_food_sys_emi.to_sql(name='GHG_food_sys_emi', con=engine)

In [ ]:
GHG_food_sys_shares = pd.read_csv("GHG_food_sys_shares.csv")

In [ ]:
GHG_food_sys_shares.to_sql(name='GHG_food_sys_shares', con=engine)

In [ ]:
cleaned_country_def = pd.read_csv("cleaned_country_data.csv",index_col=[0])

In [ ]:
cleaned_country_def.to_sql(name='cleaned_country_def', con=engine)

In [ ]:
total_ghg_country_type = pd.read_csv('CountryType.csv', index_col=[0])

In [ ]:
total_ghg_country_type.to_sql(name='total_ghg_country_type', con=engine)

In [17]:
edgar_melted = pd.read_csv('Data/edgar_melted.csv', index_col=[0])

In [18]:
edgar_melted.to_sql(name='edgar_melted', con=engine)