In [37]:
import json
import pandas as pd
import numpy as np


from sqlalchemy import create_engine, func, inspect
import psycopg2

# from config import db_password
from config import db_password

In [17]:
db_string = f"postgresql://postgres:{db_password}@group-10-final.cu1buh4bpqlm.us-east-2.rds.amazonaws.com:5432/group-10-final"
engine = create_engine(db_string)

In [18]:
inspector = inspect(engine)

In [58]:
inspector.get_table_names()

['GHG_food_sys_emi', 'country_def', 'cleaned_sector_emi']

## cleaned_sector_emi

In [20]:
pd.read_sql_query('''SELECT * FROM cleaned_sector_emi LIMIT 5;''', engine)

,index,Country_code_A3,Name,C_group_IM24_sh,dev_country,Substance,FOOD_system_stage,Y_1990,Y_1991,Y_1992,...,Y_2009,Y_2010,Y_2011,Y_2012,Y_2013,Y_2014,Y_2015,Y_2016,Y_2017,Y_2018
0,0,AGO,Angola,10:_Southern_Africa,D,GWP_100_CO2,LULUC (Production),10273.5451,10273.5451,10273.5451,...,35606.0653,35605.4601,35604.1556,35604.1556,35604.1556,35602.6343,35601.0571,35597.6207,35597.6207,35592.0828
1,1,AGO,Angola,10:_Southern_Africa,D,GWP_100_CH4,LULUC (Production),7662.4856,7662.4856,7662.4856,...,6739.5328,7193.0068,6248.5080,6645.6348,5922.2156,6228.5104,6667.6736,6293.3276,7681.6264,4870.0764
2,2,AGO,Angola,10:_Southern_Africa,D,GWP_100_N2O,LULUC (Production),5009.7985,5009.7985,5009.7985,...,5869.6705,6261.4995,5445.1405,5788.2890,5163.1805,5427.7300,5807.0510,5483.2475,6682.9290,4252.8790
3,3,ALB,Albania,12:_Central Europe,I,GWP_100_CO2,LULUC (Production),116.8068,116.8068,116.8068,...,116.6195,116.6195,116.6195,116.6195,116.5582,116.5582,116.4970,116.3398,116.3398,114.1346
4,4,ALB,Albania,12:_Central Europe,I,GWP_100_N2O,LULUC (Production),12.4815,12.4815,12.4815,...,12.4550,12.4550,12.4550,12.4550,12.4550,12.4550,12.4550,12.4020,12.4020,12.1900

In [21]:
clean_sector_df = pd.read_sql_query('''SELECT * FROM cleaned_sector_emi LIMIT 5;''', engine)

In [22]:
# Display the data table for preview
clean_sector_df.head()

,index,Country_code_A3,Name,C_group_IM24_sh,dev_country,Substance,FOOD_system_stage,Y_1990,Y_1991,Y_1992,...,Y_2009,Y_2010,Y_2011,Y_2012,Y_2013,Y_2014,Y_2015,Y_2016,Y_2017,Y_2018
0,0,AGO,Angola,10:_Southern_Africa,D,GWP_100_CO2,LULUC (Production),10273.5451,10273.5451,10273.5451,...,35606.0653,35605.4601,35604.1556,35604.1556,35604.1556,35602.6343,35601.0571,35597.6207,35597.6207,35592.0828
1,1,AGO,Angola,10:_Southern_Africa,D,GWP_100_CH4,LULUC (Production),7662.4856,7662.4856,7662.4856,...,6739.5328,7193.0068,6248.5080,6645.6348,5922.2156,6228.5104,6667.6736,6293.3276,7681.6264,4870.0764
2,2,AGO,Angola,10:_Southern_Africa,D,GWP_100_N2O,LULUC (Production),5009.7985,5009.7985,5009.7985,...,5869.6705,6261.4995,5445.1405,5788.2890,5163.1805,5427.7300,5807.0510,5483.2475,6682.9290,4252.8790
3,3,ALB,Albania,12:_Central Europe,I,GWP_100_CO2,LULUC (Production),116.8068,116.8068,116.8068,...,116.6195,116.6195,116.6195,116.6195,116.5582,116.5582,116.4970,116.3398,116.3398,114.1346
4,4,ALB,Albania,12:_Central Europe,I,GWP_100_N2O,LULUC (Production),12.4815,12.4815,12.4815,...,12.4550,12.4550,12.4550,12.4550,12.4550,12.4550,12.4550,12.4020,12.4020,12.1900

In [51]:
ML_df = clean_sector_df.drop(clean_sector_df.columns[[0, 1, 3, 4, 6]], axis=1)

In [52]:
# Display the data table for preview
ML_df.head()

,Name,Substance,Y_1990,Y_1991,Y_1992,Y_1993,Y_1994,Y_1995,Y_1996,Y_1997,...,Y_2009,Y_2010,Y_2011,Y_2012,Y_2013,Y_2014,Y_2015,Y_2016,Y_2017,Y_2018
0,Angola,GWP_100_CO2,10273.5451,10273.5451,10273.5451,10273.5451,10273.5451,10271.7160,10269.8864,10270.6118,...,35606.0653,35605.4601,35604.1556,35604.1556,35604.1556,35602.6343,35601.0571,35597.6207,35597.6207,35592.0828
1,Angola,GWP_100_CH4,7662.4856,7662.4856,7662.4856,7662.4856,7662.4856,7662.4856,13344.3884,12118.1480,...,6739.5328,7193.0068,6248.5080,6645.6348,5922.2156,6228.5104,6667.6736,6293.3276,7681.6264,4870.0764
2,Angola,GWP_100_N2O,5009.7985,5009.7985,5009.7985,5009.7985,5009.7985,5009.6395,3758.7865,3417.5195,...,5869.6705,6261.4995,5445.1405,5788.2890,5163.1805,5427.7300,5807.0510,5483.2475,6682.9290,4252.8790
3,Albania,GWP_100_CO2,116.8068,116.8068,116.8068,116.8068,116.8068,116.8068,116.8068,116.8068,...,116.6195,116.6195,116.6195,116.6195,116.5582,116.5582,116.4970,116.3398,116.3398,114.1346
4,Albania,GWP_100_N2O,12.4815,12.4815,12.4815,12.4815,12.4815,12.4815,12.4815,12.4815,...,12.4550,12.4550,12.4550,12.4550,12.4550,12.4550,12.4550,12.4020,12.4020,12.1900

## Country_def

In [25]:
pd.read_sql_query('''SELECT * FROM country_def LIMIT 5;''', engine)

  index   Country Name     Regional Grouping Country Class
0   ABW          Aruba  Rest Central America    Developing
1   AFG    Afghanistan               India +    Developing
2   AGO         Angola       Southern_Africa    Developing
3   AIA       Anguilla  Rest Central America    Developing
4   AIR  Int. Aviation         Int. Aviation             0

## GHG_food_sys_emi

In [57]:
pd.read_sql_query('''SELECT * FROM GHG_food_sys_emi LIMIT 5;''', engine)

ProgrammingError: (psycopg2.errors.UndefinedTable) relation "ghg_food_sys_emi" does not exist
LINE 1: SELECT * FROM GHG_food_sys_emi LIMIT 5;
                      ^

[SQL: SELECT * FROM GHG_food_sys_emi LIMIT 5;]
(Background on this error at: https://sqlalche.me/e/14/f405)

# store your query in a pandas DataFrame
Create a dataframe object using the command pd.read_sql()
1 - Your SQL query encapsulated in quotes.
2 - The engine object you created earlier using the create_engine() function.

example_df = pd.read_sql('SELECT * FROM table Limit 3', engine)
example_df

When we have the queary in a DF we can run the ML projection for future emissions

# Initial imports for Random Forest
import pandas as pd
from path import Path
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

# Loading data example
file_path = Path("../Resources/loans_data_encoded.csv")
df_loans = pd.read_csv(file_path)
df_loans.head()

# ML Secton

In [56]:
# Separate the Features (X) from the Target (y)
# Segment the features from the target
y = ML_df.loc[:, 'Y_1990':'Y_2018']
X = ML_df.drop[:'2']

TypeError: cannot do slice indexing on RangeIndex with these indexers [2] of type str

In [54]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)
X_train.shape

ValueError: The least populated class in y has only 1 member, which is too few. The minimum number of groups for any class cannot be less than 2.

In [43]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs',
                                max_iter=200,
                                random_state=1)

In [44]:
classifier.fit(X_train, y_train)

ValueError: could not convert string to float: 'Angola'

In [40]:
y_pred = classifier.predict(X_test)
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
results.head(20)

NotFittedError: This LogisticRegression instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.

In [ ]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

In [ ]:
from sklearn.metrics import confusion_matrix, classification_report

In [ ]:
matrix = confusion_matrix(y_test, y_pred)
print(matrix)

In [ ]:
from sklearn.metrics import confusion_matrix, classification_report
matrix = confusion_matrix(y_test, y_pred)
print(matrix)

In [ ]:
report = classification_report(y_test, y_pred)
print(report)