In [1]:
db_password ="aNNewent1718"
import pandas as pd
from sqlalchemy import create_engine
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/group-10-final"

In [2]:
cleaned_sector_emi2 = pd.read_csv("cleaned_sector_emi_df copy.csv",index_col=[0])

In [3]:
engine = create_engine(db_string)

In [4]:
cleaned_sector_emi2.to_sql(name='cleaned_sector_emi', con=engine)

ValueError: Table 'cleaned_sector_emi' already exists.

In [9]:
country_definition = pd.read_csv("country_definition.csv",index_col=[0])

In [48]:
country_def.to_sql(name='country_def', con=engine)

In [32]:
country_definition_cleaned.index.values

array([nan, 'Country ISO code', 'ABW', 'AFG', 'AGO', 'AIA', 'AIR', 'ALB',
       'ANT', 'ARE', 'ARG', 'ARM', 'ASM', 'ATG', 'AUS', 'AUT', 'AZE',
       'BDI', 'BEL', 'BEN', 'BFA', 'BGD', 'BGR', 'BHR', 'BHS', 'BIH',
       'BLR', 'BLZ', 'BMU', 'BOL', 'BRA', 'BRB', 'BRN', 'BTN', 'BWA',
       'CAF', 'CAN', 'CHE', 'CHL', 'CHN', 'CIV', 'CMR', 'COD', 'COG',
       'COK', 'COL', 'COM', 'CPV', 'CRI', 'CUB', 'CYM', 'CYP', 'CZE',
       'DEU', 'DJI', 'DMA', 'DNK', 'DOM', 'DZA', 'ECU', 'EGY', 'ERI',
       'ESH', 'ESP', 'EST', 'ETH', 'FIN', 'FJI', 'FLK', 'FRA', 'FRO',
       'FSM', 'GAB', 'GBR', 'GEO', 'GHA', 'GIB', 'GIN', 'GLP', 'GMB',
       'GNB', 'GNQ', 'GRC', 'GRD', 'GRL', 'GTM', 'GUF', 'GUM', 'GUY',
       'HKG', 'HND', 'HRV', 'HTI', 'HUN', 'IDN', 'IND', 'IRL', 'IRN',
       'IRQ', 'ISL', 'ISR', 'ITA', 'JAM', 'JOR', 'JPN', 'KAZ', 'KEN',
       'KGZ', 'KHM', 'KIR', 'KNA', 'KOR', 'KWT', 'LAO', 'LBN', 'LBR',
       'LBY', 'LCA', 'LKA', 'LSO', 'LTU', 'LUX', 'LVA', 'MAC', 'MAR',
       'MDA', 'MDG', 'MDV', 'MEX', 'MHL', 'MKD', 'MLI', 'MLT', 'MMR',
       'MNG', 'MNP', 'MOZ', 'MRT', 'MSR', 'MTQ', 'MUS', 'MWI', 'MYS',
       'MYT', 'NAM', 'NCL', 'NER', 'NFK', 'NGA', 'NIC', 'NIU', 'NLD',
       'NOR', 'NPL', 'NRU', 'NZL', 'OMN', 'PAK', 'PAN', 'PER', 'PHL',
       'PLW', 'PNG', 'POL', 'PRI', 'PRK', 'PRT', 'PRY', 'PYF', 'QAT',
       'REU', 'ROU', 'RUS', 'RWA', 'SAU', 'SCG', 'SDN', 'SEA', 'SEN',
       'SGP', 'SHN', 'SLB', 'SLE', 'SLV', 'SOM', 'SPM', 'STP', 'SUR',
       'SVK', 'SVN', 'SWE', 'SWZ', 'SYC', 'SYR', 'TCA', 'TCD', 'TGO',
       'THA', 'TJK', 'TKL', 'TKM', 'TLS', 'TON', 'TTO', 'TUN', 'TUR',
       'TUV', 'TWN', 'TZA', 'UGA', 'UKR', 'URY', 'USA', 'UZB', 'VCT',
       'VEN', 'VGB', 'VIR', 'VNM', 'VUT', 'WLF', 'WSM', 'YEM', 'ZAF',
       'ZMB', 'ZWE'], dtype=object)

In [40]:
country_definition_cleaned = country_definition.drop(labels = ['In the manuscript, the discussion is often based on main economies which allows the EU28 to be considered as a single entity.','The EU28 comprises: Austria, Italy, Belgium, Latvia, Bulgaria, Lithuania, Croatia, Luxembourg, Cyprus,  Malta, Czechia, The Netherlands, Denmark, Poland, Estonia, Portugal,Finland, Romania, France, Slovakia, Germany,Slovenia,Greece, Spain,Hungary,Sweden, Ireland and United Kingdom.'])

In [46]:
country_def = country_definition_cleaned.drop(columns = ['Unnamed: 4','Unnamed: 5'])

In [53]:
GHG_food_sys_emi = pd.read_csv("GHG_food_sys_emi.csv")

In [54]:
GHG_food_sys_emi.to_sql(name='GHG_food_sys_emi', con=engine)

In [55]:
GHG_food_sys_shares = pd.read_csv("GHG_food_sys_shares.csv")

In [56]:
GHG_food_sys_shares.to_sql(name='GHG_food_sys_shares', con=engine)